hr{
    width: 95%;
    margin: auto;
}

article{
    padding: 1rem 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-size: 3em;
    margin: 2px;
}

p{
    font-size: 1.5em;
}

.general-info,.vision{
    flex-flow: row-reverse nowrap;
}

.article-details{
    display: flex;
    flex-flow: column nowrap;
    width: 50vw;
}

.article-img{
    max-height: 450px;
    width: auto;
}  

