.navbar{
    margin: 0px;
    padding: 0px;
}

.navbar-expand{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    width: 100%;
}

.banner{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    width: 35vw;
}

.banner h1{
    margin: 5px;
    padding-top: 40px;
}

.banner .img{
    margin: 10px;
    height: 15vh;
    width: auto;
}

.buttons{
    width: 65vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.buttons .nav-anchor{
    width:calc(100% / 5);
    text-decoration: none;
    border-left: solid white 1px;
    padding: 40px;
    text-align: center;
}

.nav-anchor:hover{
    background-color: rgb(255,255,255,0.2);
    font-weight: bold;
}