@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background: #060C21;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

a{
    text-decoration: none;
}

#root{
    position: fixed;
    height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transition: 0.5s;
}

.navBar{
    position: fixed;
    top: 0;
    justify-self: flex-start;
    display: flex;
    height: 10vh;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.navBar a{
    height: inherit;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid (255,255,255,0.2);
    width: calc(100% / 6);
}

.navBar a:hover{
    background: rgba(255,255,255,0.2);
    font-weight: 700;
    font-size: 130%;
}

.navBar .logo-container{
    justify-self: flex-start;
    height: 90%;
    width: 35vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;   
}

.navBar h1{
    font-size: 1.5em;
}

.navBar h2{
    font-weight: 400;
    font-size: 1em;
}

.navBar br{
    width: 100%;
}

.navBar img{
    height: 100%;
    margin: 0px 20px;
}

.container{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-height: calc(100% - 22vh);
    min-height: calc(100% - 22vh);
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.container img{
    max-width: 100px;
}

.container .box{
    position: relative;
    margin: 10px;
    height: 400px;  
    width: calc((100% - 2em)/6);
    background: #060C21;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.container .box:before{
    content: '';
    position: absolute;
    
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.container .box:nth-child(1):before{
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.container .box:nth-child(2):before{
    background: linear-gradient(315deg, #095c09, #19e62a);
}

.container .box:nth-child(3):before{
    background: linear-gradient(315deg, #00c3ff, #195ae6);
}

.container .box:nth-child(4):before{
    background: linear-gradient(315deg, #ffe600, #edffad);
}

.container .box:nth-child(5):before{
    background: linear-gradient(315deg, #ad7dec, #3a0996);
}

.content{
    position: relative;
    top: 60px;
    padding: 40px 20px 20px 20px;
}

.content img{
    position: absolute;
    top: -100px;
    margin: 0;
    padding: 0;
    opacity: 0.2;
    transition: 0.5s;
}

.box:hover .content img{
    top: -120px;
    opacity: 0.5;
}

.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}

.box .content p{
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.container .box:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}

.footer{
    box-sizing: border-box;
    position: fixed;
    text-align: center;
    justify-self: flex-end;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.footer ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

.footer ul li a{
    position: relative;
    width: 33%;
}

.footer img{
    width: 40px;   
    transition: 0.5s;
    opacity: 0.2;
}

.footer img:hover{
    top: -10px;
    width: 50px;
    opacity: 0.5;
}

.footer h2{
    width: 33%;
    font-weight: 400;
    font-size: 1.2em;
}

.footer .socials{
    width: 33%;
}

.footer .flat{
    width: 100%;
    font-size: 0.7em;
    padding: 4px;
}

.footer .footer-text{
    width: 33%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.box.log{
    flex-flow: column nowrap;
    height: 70%;
    width: 25%;
    transition: 0.5s;
}

.box.reg{
    flex-flow: column nowrap;
}

.box.log:hover{
    height: 72%;
    width: 27%;
}

.pair{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 95%;
    height: 30%;
}

.pair label{
    font-weight: 700;
    text-align: center;
    font-size: 1.2em;
    margin: 6px;
    padding: 3px;
}

.pair input{
    font-size: 1.2em;
    text-align: center;
    background: rgba(255,255,255,0.2);
    width: 80%;
    height: 30%;
    border-radius: 5px;
    border: none;
}

.box.reg .pair input{
    height: 50%;
}

.credentials{
    height: 30%;
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.credentials a{
    width: auto;
    height: inherit;
    margin: 3px;
    padding: 5px;
    transition: 0.5s;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.credentials a:hover{
    font-weight: 700;
    background: rgba(255,255,255,0.2);
    height: 35%;
    width: auto;
}

.box.reg{
    width: 45%;
    height: 90%;
    transition: 0.5s;
}

.box.reg:hover{
    width: 47%;
    height: 92%;
}

.pair.selection{
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.box.reg .pair{
    margin: 5px;
    width: 95%;
    height: 11%;
}

.pair.selection .pair{
    height: 100%;
    max-width: 50%;
}

.box.reg label{
    font-size: 1.5em;
}

.box.reg input{
    width: 50%;
    height: auto;
}

.box.reg select{
   color: #fff;
   background-color: rgb(66,71,86);
   border-radius: 5px;
   padding-left: 15px;
}

.box.reg select option{
    background: rgba(255,255,255,0.2);
}

.pair.selection .pair input{
    width: 80%;
}

.box.reg p{
    font-size: 1em;
}

.credentials button{
    margin: 10px;
    padding: 10px;
    border: none;
    background: rgba(255,255,255,0);
    font-size: 1.2em;
    transition: 0.5s;
}

.credentials button:hover{
    background: rgba(255,255,255,0.2);
    font-weight: 700;
}

.reg.button,.contact button{
    margin: 20px;
    padding: 20px;
    border: none;
    background: rgba(255,255,255,0);
    font-size: 1.2em;
    transition: 0.5s;
}

.reg.button:hover,.contact button:hover{
    background: rgba(255,255,255,0.2);
    font-weight: 700;
}

.about{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.about.mission{
    flex-flow: row-reverse nowrap;
}

.about img{
    max-width: 40%;
    margin: 0em 2em;
}

.about .home-details{
    margin: 10px;
    width: 40%;
}

.box.home-details{
    text-align: justify;
    box-sizing: border-box;
    flex-flow: column nowrap;
    padding: 40px;
}

.box.contact{
    flex-flow: column nowrap;
    height: 85%;
    width: 30%;
    transition: 0.5s;
}
.box.contact:hover{
    height: 87%;
    width: 32%;
}

.box.contact .pair{
    height: 25%;
}

.pair textarea{
    font-size: 1em;
    text-align: center;
    background: rgba(255,255,255,0.2);
    width: 80%;
    height: 60%;
    border-radius: 5px;
    border: none;
}

.errorID{
    transition: 0.5s;
    color: red;
    opacity: 0;
}

.pass_error{
    color: red;
    transition: 0.5s;
}

.container.main{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
}

.welcome{
    position: relative;
    display: flex;
    height: 25vh;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 10px;
}

.welcome>img{
    height: 75%;
}

.welcome>h1{
    font-size: 3.5em;
}

.side-bar{
    display: flex;
    flex-flow: column nowrap;
}

.side-bar a{
    width: auto;
    height: inherit;
    margin: 15px;
    padding: 20px;
    transition: 0.5s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.2em;
}

.side-bar a:hover{
    font-weight: 700;
    background: rgba(255,255,255,0.2);
    height: 35%;
    width: auto;
}
    
@media only screen and (max-width: 1024px){
    
    .navBar .logo-container{
        justify-self: flex-start;
        height: 90%;
        width: 45vw;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .navBar .logo-container .typo{
        margin: 10px;
    }
    
    .navBar h1{
        font-size: 2em;
    }
    
    .navBar h2{
        font-weight: 400;
        font-size: 1em;
    }
    
    .navBar br{
        width: 100%;
    }
    
    .navBar img{
        height: 90%;
        margin: 10px;
    }    

    .container .box.log{
        display: flex;
        flex-flow: column nowrap;
        min-height: 500px;
        width: 70%;
    }
    
    .container .pair{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: space-between;
        padding: 15px;
        width: 80%;
        height: 50px;
    }
    
    .container label{
        font-size: 1.8em;
    }
    
    .container input{
        width: 390px;
        height: 30px;
    }
    
    .container .credentials{
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .container.main{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;
    }
    
    .welcome{
        position: relative;
        display: flex;
        height: 23vh;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 20px;
    }
    
    .welcome>h1{
        font-size: 3.3em;
    }
    
    .side-bar a{
        width: auto;
        height: inherit;
        margin: 15px;
        padding: 20px;
        transition: 0.5s;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.2em;
    }
    .side-bar a:hover{
        font-weight: 700;
        background: rgba(255,255,255,0.2);
        height: 35%;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {

    .navBar a{
        font-size: 0.75em;
    }

    .navBar .logo-container{
        justify-self: flex-start;
        height: 80%;
        width: 60vw;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .navBar h1{
        font-size: 1.3em;
    }
    
    .navBar h2{
        font-weight: 400;
        font-size: 0.9em;
    }
    
    .navBar img{
        height: 80%;
        margin: 10px;
    }   

    .container{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .container img{
        max-width: 100px;
    }
    
    .container .box{
        position: relative;
        margin: 30px;
        height: 400px;  
        width: calc((100% - 2em)/3);
        background: #060C21;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
    }
    
    .footer{
        position: fixed;
        text-align: center;
        justify-self: flex-end;
        margin: 0px 0px -30px 0px;
        width: 100vw;
        height: 13vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .footer ul li a{
        position: relative;
        width: 40%;
    }
    
    .footer img{
        width: 30px;   
        opacity: 0.2;
    }
    
    .footer h2{
        width: 33.33%;
        font-weight: 400;
        font-size: 1em;
    }
    
    .footer .socials{
        width: 33.33%;
    }
    
    .footer .copy{
        font-weight: 400;
        font-size: 1em;
        align-self: flex-end;
        width: 33.33%;
        margin: 4px;
    }

    .container .box.log{
        display: flex;
        flex-flow: column nowrap;
        min-height: 500px;
        width: 90%;
    }
    
    .container .pair{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: space-between;
        padding: 15px;
        width: 80%;
        height: 50px;
    }
    
    .container label{
        font-size: 1.7em;
    }
    
    .container input{
        width: 390px;
        height: 20px;
    }
    
    .container .credentials{
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .container.main{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        padding: 30px;
    }
    
    .welcome{
        position: relative;
        display: flex;
        height: 20vh;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    
    .welcome>h1{
        font-size: 3em;
    }
    
    .side-bar a{
        width: auto;
        height: inherit;
        margin: 15px;
        padding: 20px;
        transition: 0.5s;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 375px) {
    .navBar a{
        display: none;
    }

    .navBar .logo-container{
        justify-self: center;
        align-items: center;
        height: 70%;
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
    }

    .navBar h1{
        font-size: 1em;
    }
    
    .navBar h2{
        font-weight: 300;
        font-size: 0.7em;
    }
    
    .navBar img{
        height: 80%;
        margin: 10px;
    }   

    .container{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .container img{
        max-width: 80px;
    }

    .container .box{
        position: relative;
        margin: 50px;
        height: 400px;  
        width: 100%;
        background: #060C21;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
    }
    
    .box .content h3{
        margin: 0 0 10px;
        padding: 0;
        font-size: 20px;
        font-weight: 700;
    }
    
    .box .content p{
        margin: 0;
        padding: 0;
        font-size: 1em;
    }

    .footer img{
        width: 20px;   
        opacity: 0.2;
    }
    
    .footer h2{
        width: 30%;
        font-weight: 400;
        font-size: 0.8em;
    }
    
    .footer .copy{
        font-weight: 400;
        font-size: 0.7em;
        width: 25%;
        margin: 6px;
    }

    .container .box.log{
        display: flex;
        flex-flow: column nowrap;
        min-height: 500px;
        width: 80%;
    }
    
    .container .pair{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: space-between;
        padding: 25px;
        width: 80%;
        height: 50px;
    }
    
    .container label{
        font-size: 1.3em;
    }
    
    .container input{
        width: 240px;
        height: 20px;
    }
    
    .container .credentials{
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.3em;
        justify-content: center;
        align-items: center;
        padding: inherit;
    }
}
